/*
 main.css: the place for globbal styling
*/
:root {
  --neutral: ghostwhite;
  --red: hsl(346, 84%, 61%);
  --orange: hsl(44, 98%, 50%);
  --yellow: hsl(64, 98%, 50%);
  --green: hsl(116, 55%, 89%);
  --blue: hsl(202, 78%, 84%);
  --indigo: hsl(247, 89%, 90%);
  --violet: hsl(247, 59%, 80%);
  --colour_bg: var(--neutral);
  --colour_body: black;
  --colour_accent: pink;
  --base-font: 20px;
  --main-width: 70rem;
  --inner-space: 1.5rem;
  --outer-space: calc(var(--inner-space) * 3);
}

* {
  box-sizing: border-box;
}

.red {
  --colour_bg: var(--red);
  --colour_body: white;
}
.orange {
  --colour_bg: var(--orange);
  --colour_body: black;
}
.yellow {
  --colour_bg: var(--yellow);
  --colour_body: black;
}
.green {
  --colour_bg: var(--green);
  --colour_body: black;
}
.blue {
  --colour_bg: var(--blue);
  --colour_body: white;
}
.indigo {
  --colour_bg: var(--indigo);
  --colour_body: white;
}
.violet {
  --colour_bg: var(--violet);
  --colour_body: black;
}

.red-gradient {
  --colour_bg: linear-gradient(var(--red), var(--neutral));
}
.orange-gradient {
  --colour_bg: linear-gradient(var(--orange), var(--neutral));
}
.yellow-gradient {
  --colour_bg: linear-gradient(var(--yellow), var(--neutral));
}
.green-gradient {
  --colour_bg: linear-gradient(var(--green), var(--neutral));
}
.blue-gradient {
  --colour_bg: linear-gradient(var(--blue), var(--neutral));
}
.indigo-gradient {
  --colour_bg: linear-gradient(var(--indigo), var(--neutral));
}
.violet-gradient {
  --colour_bg: linear-gradient(var(--violet), var(--neutral));
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Press Start 2p", monospace;
  background: var(--colour_bg);
  color: var(--colour_body);
  font-size: var(--base-font);
  background-repeat: no-repeat;
  background-size: contain;
}

main {
  max-width: var(--main-width);
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  padding-top: calc(var(--inner-space) * 1.25);
  padding-bottom: calc(var(--outer-space) * 1.5);
}

div.nes-container.scan-tag {
  padding: var(--outer-space);
  margin-top: var(--outer-space);
  min-height: calc(410px + (var(--outer-space) * 2));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.nes-container.with-title > .title {
  background-color: var(--colour_bg);
  max-width: 410px;

}

div#monitor-box {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.8rem;
  background: var(--colour_accent);
  padding: calc(var(--inner-space) / 2);
  width: 100vw;
}

div#monitor-box.nes-container.with-title > .title {
  background-color: var(--colour_accent);
  border: 2px solid black;
}

.shifting-sands {
  /* background: linear-gradient(127deg, #4cb89c, #bbd7cf); */
  background-size: 400% 400%;
  -webkit-animation: PleasantScroll 30s ease infinite;
  -moz-animation: PleasantScroll 30s ease infinite;
  -o-animation: PleasantScroll 30s ease infinite;
  animation: PleasantScroll 30s ease infinite;
}


body.presentation-page {
  --base-font: 14px;
}

body.presentation-page main {
  justify-content: flex-start;
  padding-left: var(--inner-space);
  padding-right: var(--inner-space);
}

div#presentations {
  margin-top: var(--inner-space);
}

a.presentation-card {
  color: var(--colour_body);
  background-color: var(--neutral);
  border: 2px solid black;
  display: block;
  text-decoration: none;
  margin-bottom: var(--inner-space);
}

a.presentation-card:hover {
  filter: hue-rotate(180deg);
}

a.presentation-card:focus {
  background-color: var(--colour_accent);
}

a.presentation-card b {
  font-size: 1.33rem;
}

a.presentation-card p {
}

div#check-out {
  width: 100vw;
}

body.presentation-page .nes-container.with-title,
body.presentation-page .nes-container.with-title > .title {
  background-color: var(--colour_accent);
}

button.presentation-return-button {
  position: absolute;
  top: 0;
  left: 0;
  font-size: calc(var(--base-font) * 2);
  width: 100%;
  padding: 1vh;
  background: var(--colour_bg);
  color: var(--colour_body);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

button.presentation-return-button:hover {
  filter: hue-rotate(180deg);
}

button.presentation-ii-link-button {
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: var(--colour_bg);
  padding: 1vh;
  position: absolute;
  color: var(--colour_body);
  font-size: calc(var(--base-font) * 2);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

button.presentation-ii-link-button:hover {
  filter: hue-rotate(180deg);
}

div.monitor-qrcode {
  bottom: 0;
  left: 0;
  display: block;
  position: absolute;
  background: var(--colour_bg);
  padding: 1vh;
  text-align: center;
  border-top-right-radius: 10px;
  width: 15vh;
  word-break: break-word;
}

div.monitor-qrcode p {
  font-size: 1.3rem;
  color: var(--colour_body);
}

.stars {
  z-index: -100;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image:
    radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
}

.hidden{display: none;}

.fadein {animation: FadeIn ease-in 1s;}

@-webkit-keyframes PleasantScroll {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 96%;
  }
  100% {
    background-position: 0% 5%;
  }
}
@-moz-keyframes PleasantScroll {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 96%;
  }
  100% {
    background-position: 0% 5%;
  }
}
@-o-keyframes PleasantScroll {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 96%;
  }
  100% {
    background-position: 0% 5%;
  }
}
@keyframes PleasantScroll {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 96%;
  }
  100% {
    background-position: 0% 5%;
  }
}

@keyframes FadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes FadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes FadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
